        <div class="inner">
            
            <ul>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#"><img src="images/wordy-logo-light.png" width="100"></a></li>
                <li><a href="#">TERMS OF USE</a></li>
            </ul>

        </div>