        <div class="main-nav nav2 menu-anim">
            <nav>
            <ul>
                <li><a href="comics.html" class="comics">Comics</a></li>
                <li><a href="films" class="films">Films</a></li>
                <li><a href="tv" class="tv">TV</a></li>
                <li><a href="video-games" class="video-games">Video Games</a></li>
                <li><a href="cosplay" class="cosplay">Cosplay</a></li>
                <li><a href="anime" class="anime">Anime</a></li>
                <li><a href="gadgets" class="gadgets">Gadgets</a></li>
                <li><a href="screenings" class="screenings">Screenings</a></li>
                <li><a href="features" class="features">Features</a></li>
            </ul>
            </nav>
        </div>