
            <div class="posts">
                
                <div class="main-block">

                    <article class="post item1">
                        
                        <h1><%=title%></h1>

                        <div class="meta">
                            
                            <div class="author-date">
                                <span class="author">By <a href="#"><%=author.name%></a></span>
                                <span class="date">on <%=date%></span>
                            </div>
                            <div class="content">
                                <%=content%>
                            </div>
                        </div>
                    </article>


                    <div class="trending-stories">
                        <h3 class="section-heading">RELATED STORIES</h3>
                        <div class="links">
                            <% _.each(related, function(i) { %>
                            <div class="link">
                                <a href="#posts/<%=i.ID%>/<%=i.slug%>"><%=i.title%></a>
                            </div>
                            <% }); %>
                        </div>
                    </div>

                </div>


            </div>