
        <div class="logo">
            <img src="images/wordy-logo.png" alt="">
        </div>

        <div class="wordies">
            <h3>WORDIES</h3>
            <ul>
                <% _.each(wordies, function(i) { %>
                <li><a href="#wordy/<%=i.slug%>"><%=i.name%></a></li>
                <% }); %>
            </ul>
        </div>

        <div class="main">
            <h3>CATEGORIES</h3>
            <ul>
                <% _.each(categories, function(i) { %>
                <li class="<%=i.slug%>"><a href="#category/<%=i.slug%>"><%=i.name%></a></li>
                <% }); %>
            </ul>
        </div>
