
        <div class="menu-icon menu-anim"><span></span></div>

        <a href="index.html" class="text-logo">WORDY SANCHEZ</a>

        <div class="main-nav nav1 menu-anim on">
            <nav>
                <ul>
                    <% _.each(menu, function(i) { %>
                        <li class="<%=i.slug%>">
                            <a href="<%=i.slug%>" class="<%=i.slug%>"><%=i.name%></a>
                        </li>
                    <% }) %>
    
                        <!-- <div class="dd-menu">
                            <ul>
                                <li><a href="cosplay" class="cosplay">Cosplay</a></li>
                                <li><a href="anime" class="anime">Anime</a></li>
                                <li><a href="gadgets" class="gadgets">Gadgets</a></li>
                                <li><a href="screenings" class="screenings">Screenings</a></li>
                                <li><a href="features" class="features">Features</a></li>
                            </ul>
                        </div> -->
                    </li>
                </ul>
            </nav>
        </div>

        <div class="top-right">
            <div class="social">
                <div class="icon icon-facebook"></div>
                <div class="icon icon-twitter"></div>
                <div class="icon icon-instagram"></div>
                <div class="icon icon-tumblr"></div>
            </div>

            <!--<div class="search-box">
                <input type="text" id="search" placeholder="SEARCH">
                <span class="icon-search"></span>
            </div>-->
        </div>

