
    <% if (featured_image) { %>
    <div class="media">
        <% if (terms.category) { %>
        <div class="category">
            <a href="#category/<%=terms.category[0].slug%>" class="<%=terms.category[0].slug%>"><%=terms.category[0].name%></a>
        </div>
        <% } %>
        <a href="#posts/<%=ID%>/<%=slug%>">
            <img src="<%=featured_image.source%>" alt="" width="100%"></a>
    </div>
    <% } %>

    <div class="meta">
        <a href="#posts/<%=ID%>/<%=slug%>" class="title">
            <h1><%=title%></h1></a>
        <div class="author-date">
            <span class="author">By <a href="#"><%=author.name%></a></span>
            <% var date = new Date(date); %>
            <span class="date">on <%=date%></span>
        </div>
        <div class="excerpt">
            <p><%=excerpt%></p>
        </div>
    </div>
    <a href="#posts/<%=ID%>/<%=slug%>" class="more">Read More</a>