        <div class="featured menu-anim">
            
            <div class="hero-section">

                <% _.each(featured, function(i, index) { %>

                <a href="#posts/<%=i.get('ID')%>/<%=i.get('slug')%>" class="item item<%=index%>" style="background-image:url(<%=i.get('featured_image').source%>)">

                    <div class="content">
                        <h1><%=i.get('title')%></h1>
                    </div>
                </a>

                <% }); %>

            </div>


        </div>

        <!--<div class="main-nav nav2 menu-anim">
            <nav>
            <ul>
                <li><a href="comics.html" class="comics">Comics</a></li>
                <% _.each(categories, function(i) { %>
                <li><a href="<%=i.slug%>" class="<%=i.slug%>"><%=i.name%></a></li>
                <% }); %>
            </ul>
            </nav>
        </div>-->