            <div class="posts">
                
                <div class="main-block">

                    <% _.each(_.range(3,4), function(i) { %>
                    <article class="post item1">
                        <% if (items[i].featured_image) { %>
                        <div class="media">
                            <% if (items[i].terms.category) { %>
                            <div class="category">
                                <a href="#category/<%=items[i].terms.category[0].slug%>" class="<%=items[i].terms.category[0].slug%>"><%=items[i].terms.category[0].name%></a>
                            </div>
                            <% } %>
                            <a href="#posts/<%=items[i].ID%>/<%=items[i].slug%>">
                                <img src="<%=items[i].featured_image.source%>" alt="" width="100%"></a>
                        </div>
                        <% } %>

                        <div class="meta">
                            <a href="#posts/<%=items[i].ID%>/<%=items[i].slug%>" class="title">
                                <h1><%=items[i].title%></h1></a>
                            <div class="author-date">
                                <span class="author">By <a href="#"><%=items[i].author.name%></a></span>
                                <% var date = new Date(items[i].date); %>
                                <span class="date">on <%=date%></span>
                            </div>
                            <div class="excerpt">
                                <p><%=items[i].excerpt%></p>
                            </div>
                        </div>
                        <a href="#posts/<%=items[i].ID%>/<%=items[i].slug%>" class="more">Read More</a>
                    </article>
                    <% }); %>

                    <div class="trending-stories">
                        <h3 class="section-heading">TRENDING STORIES</h3>
                        <div class="links">
                            <% _.each(_.range(5,10), function(i) { %>
                            <div class="link">
                                <a href="#"><%=items[i].title%></a>
                            </div>
                            <% }); %>
                        </div>
                    </div>


                    <div class="ad2"></div>


                </div>







                <div class="row">

                    <% _.each(_.range(4,6), function(i) { %>
                    <article class="post item3">
                        <% if (items[i].featured_image) { %>
                        <div class="media">
                            <% if (items[i].terms.category) { %>
                            <div class="category">
                                <a href="#category/<%=items[i].terms.category[0].slug%>" class="<%=items[i].terms.category[0].slug%>"><%=items[i].terms.category[0].name%></a>
                            </div>
                            <% } %>
                            <a href="#posts/<%=items[i].ID%>/<%=items[i].slug%>">
                                <img src="<%=items[i].featured_image.source%>" alt="" width="100%"></a>
                        </div>
                        <% } %>

                        <div class="meta">
                            <a href="#posts/<%=items[i].ID%>/<%=items[i].slug%>" class="title">
                                <h1><%=items[i].title%></h1></a>
                            <div class="author-date">
                                <span class="author">By <a href="#"><%=items[i].author.name%></a></span>
                                <% var date = new Date(items[i].date); %>
                                <span class="date">on <%=date%></span>
                            </div>
                            <div class="excerpt">
                                <p><%=items[i].excerpt%></p>
                            </div>
                        </div>
                        <a href="#posts/<%=items[i].ID%>/<%=items[i].slug%>" class="more">Read More</a>
                    </article>
                    <% }); %>

                </div>





                <div class="row">

                    <% _.each(_.range(6,12), function(i) { %>
                    <article class="post item2">
                        <% if (items[i].featured_image) { %>
                        <div class="media">
                            <% if (items[i].terms.category) { %>
                            <div class="category">
                                <a href="#category/<%=items[i].terms.category[0].slug%>" class="<%=items[i].terms.category[0].slug%>"><%=items[i].terms.category[0].name%></a>
                            </div>
                            <% } %>
                            <a href="#posts/<%=items[i].ID%>/<%=items[i].slug%>">
                                <img src="<%=items[i].featured_image.source%>" alt="" width="100%"></a>
                        </div>
                        <% } %>

                        <div class="meta">
                            <a href="#posts/<%=items[i].ID%>/<%=items[i].slug%>" class="title">
                                <h1><%=items[i].title%></h1></a>
                            <div class="author-date">
                                <span class="author">By <a href="#"><%=items[i].author.name%></a></span>
                                <% var date = new Date(items[i].date); %>
                                <span class="date">on <%=date%></span>
                            </div>
                            <div class="excerpt">
                                <p><%=items[i].excerpt%></p>
                            </div>
                        </div>
                        <a href="#posts/<%=items[i].ID%>/<%=items[i].slug%>" class="more">Read More</a>
                    </article>
                    <% }); %>

                </div>



                <div class="more-posts">

                </div>



                <button class="load-more">LOAD MORE</button>



            </div>