
<div class="page-heading <%=slug%>">
    <div class="inner">
        <h2><%=name%></h2>
    </div>
</div>


<div class="posts category-posts">
    
    <div class="main-block">

        <aside class="right-side">

            <div class="trending-stories wordies <%=slug%>">
                <div class="topic <%=slug%>"><%=name%></div>
                <h3 class="section-heading">WORDIES</h3>
                <div class="links">
                    <% _.each(wordies, function(i) { %>
                        <div class="link">
                            <a href="#wordy/<%=i.slug%>"><%=i.name%> ( <%=i.count%> )</a>
                        </div>
                    <% }); %>
                    <!--<div class="link">
                        <a href="#">All ( 6 )</a>
                    </div>
                    <div class="link">
                        <a href="#">You May Be Cousins ( 4 )</a>
                    </div>
                    <div class="link">
                        <a href="#">Crate Digging ( 2 )</a>
                    </div>-->
                </div>
            </div>


            <div class="ad2"></div>

        </aside>



        <% _.each(items, function(i) { %>
        <article class="post item1">
                
            <div class="media">
                
                <a href="#posts/<%=i.ID%>/<%=i.slug%>">
                    <img src="<%=i.featured_image.source%>" alt="" width="100%">
                </a>
            </div>

            <div class="meta">
                <a href="#<%=i.link%>" class="title">
                    <h1><%=i.title%></h1>
                </a>
                <div class="author-date">
                    <span class="author">By 
                        <a href="#"><%=i.author.display_name%></a>
                    </span>
                    <span class="date">on <%=i.date%></span>
                </div>
                <div class="excerpt">
                    <p><%=i.excerpt%></p>
                </div>
            </div>
        </article>
        <% }); %>


    </div>









</div>

</div>

