@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?y14pam');
	src:url('fonts/icomoon.eot?#iefixy14pam') format('embedded-opentype'),
		url('fonts/icomoon.woff?y14pam') format('woff'),
		url('fonts/icomoon.ttf?y14pam') format('truetype'),
		url('fonts/icomoon.svg?y14pam#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e603";
}
.icon-googleplus:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-arrow-down:before {
	content: "\e604";
}
