

body
	background white
	color #999
	font-family "proxima-nova-alt", sans-serif
	font-size 14px
		

.ad
	display none
	width 728px
	height 90px
	margin 20px auto
	background #ccc

.ad2
	display none
	width 300px
	height 274px
	margin 20px 4.5%
	float left
	background #ccc

.site
	width 100%
	margin 0 auto

.topnav
	background #fff
	height 40px
	position fixed
	top 0
	left 0
	border-bottom solid 1px #ccc
	z-index 5
	width 100%
	


	.menu-icon
		cursor pointer
		float left
		padding 10px 2px 5px
		background white
		margin-right 10px
		border-right solid 1px #ccc
		position relative
		transition left 0.3s ease-in-out
		left 0

		&.animate
			left 250px

		span
			position relative
			padding-left 1.25em
			font-size 26px
			margin-left 10px
				
			&:before
				content ""
				position absolute
				left 0
				top 0.25em
				width 1em
				height 0.15em
				background black
				box-shadow 0 0.25em 0 0 black, 0 0.5em 0 0 black
	
	.text-logo
		display inline-block
		float left
		margin-top 10px
		margin-right 20px
		font-size 18px
		font-weight bold
		color black
		&:hover
			text-decoration none

	.main-nav
		float left


	.top-right
		display none
		position absolute
		right 0
		padding 10px 10px 5px
		background white
		border-left solid 1px #ccc

		.search-box
			float right
			padding 3px 10px
			margin-top -5px
			margin-right 5px
			border solid 1px #ccc
			background white
			cursor pointer

			.icon-search
				color black
			input
				width 0px
				border none
				transition all 0.3s ease-in-out
				&:focus
					outline none
			&:hover
				input
					width 200px

		.social
			float right

			.icon
				float left
				color black
				font-size 20px
				padding 0 5px
				cursor pointer


.side-menu
	position fixed
	top 0
	left -250px
	width 250px
	height 100%
	overflow-y auto
	background white
	border-right solid 1px #ccc
	z-index 5
	top 0
	// transition left 0.3s ease-in-out
	transition left 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715)

	&.animate
		left 0px


	.logo
		img
			padding 5%
			width 90%
			display block
			margin 0 auto


	.main
		margin 20px 0px

	ul, li
		list-style-type none
		margin 0
		padding 0

		a
			display block
			padding 5px 0px
			text-transform uppercase
			font-weight bold
			color #878787
			transition all 0.2s ease-in

			&:hover, &.on
				text-decoration none
				color black
				padding-left 10px

	.main
		border-top solid 1px #ccc
		
		h3
			margin-left 20px

		a
			padding 5px 20px
			border-left-style solid
			border-left-width 5px
			border-left-color #333
			attr-color(border-left-color)
			&.active
				color white
				background #333
				attr-color(background)
			

	.wordies
		margin-top 15px
		padding-left 20px

.menu-overlay
	position fixed
	z-index 4
	width 100%
	height 100%
	background black
	display none
	opacity 0
	transition opacity 0.2s ease-in

body.menu-on
	overflow hidden
	.menu-overlay
		display block
		opacity 0.7

.featured
	height auto
	background black
	position relative
	transition left 0.3s ease-in-out
	left 0

	&.animate
		left 200px


	.hero-section
		position relative
		width 100%
		height 100%

		&:after
			background-color hero-color1
			background-image url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
			background-size 100%
			background-image linear-gradient(left top,hero-color1 0,hero-color2 40%,hero-color3 57%,hero-color4 84%)

			content ""
			display block
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			z-index 2
			// filter alpha(opacity=65)
			opacity .6
			pointer-events none
			
		.item
			display block
			position relative			
			background-size cover
			background-position center
			width 100%
			height 485px
			float none

			border-right solid 1px #fff

			&:last-child
				border-right none

			.content
				position absolute
				z-index 3
				width 90%
				left 5%
				right 5%
				bottom 5%
				overflow hidden

				h1
					color #fff
					font-size 24px









.main-nav
	display none
	border-bottom solid 1px #ccc
	height 40px

	&.on
		display block

	&.fixed
		position fixed
		top 0
		left 229px
		z-index 10
		transition left 0.3s ease-in-out

		&.animate
			left 297px
			

	nav
		max-width 1080px
		margin 0 auto
	
	ul, li
		list-style none
		padding 0
		margin 0

	ul
		width 100%
		height 40px
		// border-left solid 1px #ccc

	li
		float left
		height 40px
		// border-right solid 1px #ccc

		h3
			margin-top 7px

		&.more
			display none

		a
			display block
			padding 10px 20px 8px
			// margin-bottom 3px
			text-transform uppercase
			text-decoration none
			text-align center
			color #878787

			// &:hover
			// 	color #ff0000
			// 	background #ccc
			
			border-bottom-style solid
			border-bottom-width 3px

			&:hover, &.active
				color white
				background #333
				border-bottom-color #333
			attr-color(border-bottom-color, background)

			&.more
				color #878787

		&.more
			.icon-arrow-down
				font-size 23px
				line-height 0px
				display inline-block
				position relative
				top 6px

			&:hover
			
				.dd-menu ul
					margin-top 0px


	.dd-menu
		display inline-block
		overflow hidden
		ul
			transition all 0.3s ease-in-out
			margin-top -200px
			background white
			height auto
			li
				float none


.main-content
	max-width 1080px
	margin 0 auto
	padding 1%


// .wordies
// 	float right
// 	width 25%
// 	text-align right

// 	ul, li
// 		list-style none
// 		padding 0
// 		margin 0


.posts
	float left
	width 100%
	min-height 1000px


	.main-block
		width 100%
		margin-top 40px
		display inline-block
		.post.item1
			margin-right 2%

	.row
		clear both
		margin 40px 0 20px


	.trending-stories
		width 100%
		// border solid 1px #ccc

		.section-heading
			margin 0
			padding 10px 10px 5px
			border-bottom solid 1px #ccc
			color white
			background black

		.links
			.link
				border-bottom solid 1px #ccc
				
				a
					display block
					padding 15px 30px
					color black
					text-decoration none

					&:hover
						background #ebecf0



	.post
		width 100%
		float none
		margin-right 5px
		color black
		overflow hidden
		position relative

		a.title		
			color black
			&:hover
				text-decoration none

		h1
			font-size 20px
			margin-top 0
		
		.media
			position relative
			margin-bottom 10px
			.category
				position absolute
				top 0
				left 0
				
				a
					display block
					padding 6px 15px 5px
					color #fff
					text-transform uppercase
					background #333
					attr-color(background)

		.meta
			width 100%
			.content img
				max-width 100%			



		&.item1
			width 100%
			
			.media
				width 100%
				margin-top 0

			.meta
				float left

		&.item2
			width 96%
			margin 0 2%
			margin-bottom 25px
			max-height 400px
			
			// &:after
			// 	content: "";
			// 	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
			// 	background-size: 100%;
			// 	background-image: linear-gradient(top,rgba(231,231,226,0) 0,#e7e7e2 100%);
			// 	display: block;
			// 	position: absolute;
			// 	pointer-events: none;
			// 	bottom: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 20%;

		&.item3
			width 96%
			margin 0 2%


		.more
			position: absolute; 
			bottom: 0; left: 0;
			width: 100%; 
			text-align: center; 
			margin: 0;
			padding: 200px 0 0 0;
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, white));
			background-image: -webkit-linear-gradient(top, transparent, white);
			background-image: -moz-linear-gradient(top, transparent, white);
			background-image: -ms-linear-gradient(top, transparent, white);
			background-image: -o-linear-gradient(top, transparent, white);

	
	.video-thumbnails
		width 39%
		float left
		margin-top -5px

		.thumb
			float left
			background black
			width 47%
			height 126px
			margin 5px


.load-more
	display block
	margin 0 auto
	margin 30px auto
	background black
	color white
	padding 7px 50px
	border none

.main-footer
	clear both
	margin-top 50px
	background black
	color white

	.inner
		max-width 1080px
		margin 0 auto

		ul, li
			list-style-type none
			margin 0
			padding 0
			
		ul
			text-align center
			li
				display inline-block
				margin 15px
				
				a
					color white




/* Desktop */

@media only screen and (min-width: 35em)

	.ad, .ad2
		display none

	.site
		.featured
			height 485px
			.hero-section
				.item
					float left
					width 33.3%

	.main-nav.on
		display block

	.topnav
		.top-right
			display block

	.posts
		.post
			width 21%
			float left
			&.item1
				width 60%
			&.item2
				width 31%
				margin 0 1%
				margin-bottom 25px
			&.item3
				width 48%
				margin 0% 1%


		.trending-stories
			float left
			width 38%



@media only screen and (max-width: 80em)

	.main-nav
		li
			&.features, &.screenings, &.gadgets, &.anime, &.cosplay
				display none
			&.more
				display block

@media only screen and (max-width: 55em)
	
	.main-nav, .topnav .main-nav
		display none
		&.on
			display none

/* Tablet */

@media only screen and (min-device-width: 35em) and (max-device-width: 1400px)

	.ad, .ad2
		display none

	.main-nav
		&.on
			display block
		li a
			padding 10px

	.posts
		.post
			width 21%
			float left
			&.item1
				width 60%
			&.item2
				width 31%
				margin 0 1%
				margin-bottom 25px
			&.item3
				width 48%
				margin 0% 1%


		.trending-stories
			float left
			width 38%

		