
@import 'nib'
@import 'fonts'

// hero-color1 = #a53179
// hero-color2 = #391f60
// hero-color3 = #422e60
// hero-color4 = #9e568d

// hero-color1 = #ff0000
// hero-color2 = #9d0402
// hero-color3 = #f7605d
// hero-color4 = #ec1718


hero-color1 = #a53179
hero-color2 = #363434
hero-color3 = #888888
hero-color4 = #9e568d


comics-color = #4ec4ff
films-color = #eb1e00
tv-color = #9600b4
videogames-color = #00a53c
cosplay-color = #fa5f00
anime-color = #00c3c3
gadgets-color = #666
screenings-color = #ffc000
features-color = #790035

color-list = (comics comics-color) (films films-color) (tv tv-color) (video-games videogames-color) (cosplay cosplay-color) (anime anime-color) (gadgets gadgets-color) (screenings screenings-color) (features features-color)

attr-color(default, active=null)

	for c in color-list
		&.{c[0]}
			{default} c[1]
		if (active)
			&.{c[0]}:hover, &.{c[0]}.active
				{active} c[1]


@import 'global'
@import 'topic-page'