
.page-heading
	position absolute
	left 0
	top 0
	margin-top 40px
	width 100%
	color white
	background #333
	attr-color(background)

	.inner
		width 1080px
		padding 10px
		margin 0 auto

		h2
			margin 0
			padding 0
			font-family "proxima-nova-extra-condensed",sans-serif
			color white


.category-posts
	margin-top 80px
	
	.post
		margin-bottom 50px
		max-height none !important


.right-side
	position fixed
	right 20px
	float right
	width 38%
	top 88px
	transition top 0.2s ease-in-out

	.wordies
		float none
		width 100%

		.topic
			padding 10px
			color white
			font-family "proxima-nova-extra-condensed",sans-serif
			font-size 25px
			line-height 1em
			visibility hidden
			position relative
			top -200px
			transition top 0.3s ease-in-out
			background #333
			attr-color(background)
			
	&.fixed
		top 40px
		.wordies
			.topic
				visibility visible
				top 0

